<template>
  <div class="about container">
    <div></div>
    <div>
      <h4 class="part-title">ABOUT</h4>
      <h3>Bridgeport United FC</h3>
      <p>Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal.</p>
      <app-show-more :info="info" class="blue" :class="info.class"></app-show-more>
    </div>
  </div>
</template>
<script>
import Show_more from "./Show_more";
export default {
  data() {
    return {
      info: {
        url: "/about",
        text: "Read More"
        //class: "line"
      }
    };
  },
  components: {
    "app-show-more": Show_more
  }
};
</script>
<style lang="scss" scoped>
.about {
  padding: 9rem 0 5.5rem;
  &.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  & > div {
    width: 55%;
    &:first-of-type {
      background-image: url("./../../assets/img/team.png");
      background-size: cover;
      background-position: center;
      height: 0;
      padding-top: 40%;
      margin-left: -4rem;
    }
    &:last-of-type {
      width: 40%;
      padding-right: 5rem;
      padding-top: 6rem;
    }

    p {
      margin-bottom: 3.5rem;
    }
  }
}
</style>