<template>
  <footer>
    <div class="container">
      <div>
        <router-link to="/" tag="div" class="logo">
          <img src="./../../assets/img/logo.svg" alt="logo_image" />
        </router-link>
        <h6 class="copyright">
          Copyright © Bridgeport United FC 2019.
          <br />All rights reserved.
        </h6>
        <ul class="privacy-list">
          <router-link
            to="/"
            tag="li"
            v-for="link in privacy"
            :key="link.id"
            :to="link.url"
          >{{link.title}}</router-link>
        </ul>
      </div>
      <div v-for="item in menu" :key="item.menuTitle">
        <h5 class="title">{{item.menuTitle}}</h5>
        <ul class="menu">
          <router-link
            to="/"
            tag="li"
            v-for="link in item.list"
            :key="link.id"
            :to="link.url"
          >{{link.title}}</router-link>
        </ul>
      </div>
      <div class="last">
        <h5 class="title">contacts</h5>
        <ul>
          <li v-for="item in contacts" :key="item.id">
            <div class="img">
              <img :src="item.img" :alt="item.img" />
            </div>
            <a href="item.href">{{item.title}}</a>
          </li>
        </ul>
      </div>
      <div>
        <p>Created by:</p>
        <img src="./../../assets/img/amen-logo.svg" alt="amenLogo" />
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      privacy: [
        { title: "Legal Terms", url: "/legal-terms", id: 1 },
        { title: "Privacy Policy", url: "/privacy-policy", id: 2 }
      ],
      menu: [
        {
          menuTitle: "ClUB",
          list: [
            { title: "About the Club", url: "/about", id: 1 },
            { title: "Roaster of Players", url: "/players", id: 2 },
            { title: "Staff", url: "/staff", id: 3 },
            { title: "Ownership", url: "/ownership", id: 4 },
            { title: "FAQs", url: "/faqs", id: 5 }
          ]
        },
        {
          menuTitle: "NEWS",
          list: [
            { title: "All", url: "/all-news", id: 1 },
            { title: "Club News", url: "/club-news", id: 2 },
            { title: "Photo", url: "/photo", id: 3 },
            { title: "Video", url: "/video", id: 4 }
          ]
        },
        {
          menuTitle: "OTHER",
          list: [
            { title: "BUFC gear", url: "/gear", id: 1 },
            { title: "Sponsors", url: "/sponsors", id: 2 }
          ]
        }
      ],
      contacts: [
        {
          title: "3500 Central Ave. SE, Suite 2 Albuquerque, NM 87106",
          href: "#",
          id: 1,
          img: "src/assets/img/map-marker.svg"
        },
        {
          title: "(505) 209 - PLAY (7529)",
          href: "#",
          id: 2,
          img: "src/assets/img/phone-receiver.svg"
        },
        {
          title: "info@gmail.com",
          href: "#",
          id: 3,
          img: "src/assets/img/close-envelope.svg"
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
$blue: #15224e;
$orange: #fdc65a;
$Mont: "Montserrat", sans-serif;

footer {
  background-color: $blue;
  padding-top: 6.3rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  & > div {
    width: 17%;
    &:first-of-type {
      width: 23%;
      margin-right: 3rem;
      padding-right: 3.9rem;
    }
    &:nth-child(3) {
      padding-left: 3rem;
    }
    &.last {
      width: 23%;
      ul {
        li {
          position: relative;
          margin-bottom: 3rem;
          padding-left: 3.5rem;
          .img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            min-width: 1.6rem;
            width: 1.6rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
          &:before {
            display: none;
          }
          a {
            color: #e8e8e8;
            font-size: 1.3rem;
            line-height: 2.5rem;
            transition: color 0.3s ease-in-out;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
    &:last-of-type {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1.9rem 3rem 2.3rem;
      img {
        margin-left: 1rem;
        cursor: pointer;
      }
      p {
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $Mont;
        color: #f1f1f1;
      }
    }
  }
}
.logo {
  margin-bottom: 3.3rem;
  img {
    width: 10.7rem;
    height: 10.7rem;
    margin: 0 auto;
    cursor: pointer;
  }
}
.copyright {
  display: inline-block;
  width: auto;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: initial;
}
.privacy-list {
  padding: 0 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  li {
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    &:first-of-type {
      margin-right: 1.5rem;
    }
  }
}
.menu {
  li {
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 4rem;
    color: #e8e8e8;
    padding-left: 2rem;
    cursor: pointer;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      width: 3px;
      height: 3px;
      background: #fdc65a;
    }
  }
}
.title {
  margin-bottom: 1.7rem;
}

li {
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $orange;
  }
}
</style>