<template >
  <header class="header">
    <div class="container">
      <router-link to="/" tag="div" class="logo">
        <img src="./../../assets/img/logo.svg" alt="logo_image" />
        <p>bridgeport United fc</p>
      </router-link>
      <nav>
        <ul class="menu">
          <li v-for="link in links" :key="link.title" :class="link.class">
            <router-link :to="link.url">
              {{link.title}}
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                v-if="link.class == 'sub-menu'"
              >
                <path
                  d="M4.83257 5.61961L8.6199 1.83222C8.70756 1.74462 8.75586 1.62768 8.75586 1.503C8.75586 1.37831 8.70756 1.26138 8.6199 1.17378L8.34105 0.894864C8.15935 0.713371 7.86404 0.713371 7.68261 0.894864L4.50224 4.07523L1.31834 0.891335C1.23068 0.803737 1.11381 0.755371 0.989193 0.755371C0.864439 0.755371 0.747572 0.803737 0.659836 0.891335L0.381059 1.17025C0.293391 1.25792 0.245095 1.37478 0.245095 1.49947C0.245095 1.62415 0.293391 1.74109 0.381059 1.82869L4.17185 5.61961C4.25979 5.70742 4.37721 5.75565 4.50203 5.75537C4.62734 5.75565 4.74469 5.70742 4.83257 5.61961Z"
                  fill="black"
                />
              </svg>
            </router-link>

            <ul v-if="link.class == 'sub-menu'">
              <li v-for="item in link.subMenu" :key="item.title">
                <router-link :to="item.url">{{item.title}}</router-link>
              </li>
            </ul>
          </li>
        </ul>
        <router-link to="/shop" class="btn">Shop</router-link>
      </nav>
    </div>

    <app-social></app-social>
  </header>
</template>
<script>
import Social_link from "./Social_link";
export default {
  props: {
    links: Array
  },
  components: {
    "app-social": Social_link
  }
};
</script>

<style lang="scss" scoped>
header {
  border: 1px solid #f2f2f2;
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.2rem 2rem;
  width: calc(100% / 3);
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  img {
    width: 5.5rem;
    height: 5.5rem;
  }
  p {
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 1.8rem;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  margin-right: 2rem;
  height: 100%;
  & > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: #151515;
    text-transform: uppercase;
    padding: 20px;
    height: 100%;
    svg {
      max-width: 0.9rem;
      margin-left: 8.5px;
      transition: all 0.3s ease-in-out;
    }
  }
  & > li {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 52.5%;
      width: 0;
      transform: translateX(-50%);
      height: 3px;
      background: #fdc65a;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        width: 95%;
      }
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  li.sub-menu {
    position: relative;
    ul {
      min-width: 100%;
      padding: 1rem 2rem;
      position: absolute;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: -9;
      transition: all 0.3s ease-in-out;
      a {
        position: relative;
        display: block;
        white-space: nowrap;
        padding: 0.5rem 0;
        text-transform: capitalize;
        font-size: 1.4rem;
        color: #151515;
        font-weight: 500;
        &:hover {
          color: #fdc65a;
        }
      }
    }
    &:hover {
      ul {
        opacity: 1;
        visibility: visible;
        z-index: 999;
      }
    }
  }
}
</style>