<template>
  <div>
    <app-news v-for="item in lastTwo()" :item="item" :key="item.id"></app-news>
  </div>
</template>
<script>
import News from "./News";
const url = "http://localhost:3000/news";
export default {
  computed: {
    news() {
      return this.$store.getters.news;
    }
  },
  methods: {
    setNews() {
      this.axios.get(url).then(response => {
        const payload = response.data;
        return this.$store.dispatch("setNews", payload);
      });
    },
    lastTwo() {
      var news = this.$store.getters.news;
      news = news.slice(0, 2);
      return news;
    }
  },
  mounted() {
    this.setNews();
    this.lastTwo();
  },
  components: {
    "app-news": News
  }
};
</script>