<template>
  <div class="schedule">
    <h4 class="title">MATCH SCHEDULE</h4>
    <app-show-more :info="info" class="blue" :class="info.class"></app-show-more>
    <div class="match-block">
      <app-match-card v-for="item in arrayCut()" :item="item" :key="item.id"></app-match-card>
    </div>
  </div>
</template>
<script>
import Show_more from "./Show_more";
import Match_card from "./Match_card";
export default {
  data() {
    return {
      info: {
        url: "/about",
        class: "rect"
      },
      matchInfo: [
        {
          id: 1,
          title: "Kickoff (CEST)",
          data: "04.03.2020 21:45",
          place: "signal iduna park",
          day: "04.03.2020",
          videoUrl: "have",
          comandOne: {
            name: "Sporting Hartford",
            img: "src/assets/img/cannondale.png",
            goals: 0
          },
          comandTwo: {
            name: "Bridgeport Utd",
            img: "src/assets/img/cannondale.png",
            goals: 0
          }
        },
        {
          id: 2,
          title: "Kickoff (CEST)",
          data: "04.03.2020 21:45",
          place: "signal iduna park",
          day: "04.03.2020",
          comandOne: {
            name: "Sporting Hartford",
            img: "src/assets/img/cannondale.png",
            goals: 0
          },
          comandTwo: {
            name: "Bridgeport Utd",
            img: "src/assets/img/cannondale.png",
            goals: 0
          }
        },
        {
          id: 3,
          title: "Kickoff (CEST)",
          data: "04.03.2020 21:45",
          place: "signal iduna park",
          day: "04.03.2020",
          videoUrl: "have",
          comandOne: {
            name: "Sporting Hartford",
            img: "src/assets/img/cannondale.png",
            goals: 0
          },
          comandTwo: {
            name: "Bridgeport Utd",
            img: "src/assets/img/cannondale.png",
            goals: 0
          }
        }
      ]
    };
  },
  methods: {
    arrayCut() {
      return this.matchInfo.slice(0, 2);
    }
  },
  components: {
    "app-show-more": Show_more,
    "app-match-card": Match_card
  }
};
</script>
<style lang="scss" scoped>
</style>