<template>
  <div>
    <p>{{item.title}}</p>
    <div class="table">
      <div>
        <img :src="item.comandOne.img" :alt="item.comandOne.name" />
        <h6>{{item.comandOne.name}}</h6>
      </div>
      <div class="score">
        <p>{{item.comandOne.goals}}</p>
        <span>:</span>
        <p>{{item.comandTwo.goals}}</p>
      </div>
      <div>
        <img :src="item.comandTwo.img" :alt="item.comandTwo.name" />
        <h6>{{item.comandTwo.name}}</h6>
      </div>
    </div>
    <h6>{{item.place}}</h6>
    <h5>{{item.day}}</h5>
    <div class="video-link" v-if="item.hasOwnProperty('videoUrl')">
      <router-link to="/" class="btn btn_icon">
        <svg
          width="13"
          height="15"
          viewBox="0 0 13 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0938 7.72096L0.930966 14.6411L0.930965 0.776661L12.0938 7.72096Z"
            fill="white"
          />
        </svg>
        play video review
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
p {
  font-size: 1.2rem;
  color: #000;
  font-weight: 400;
  text-align: center;
}
h6 {
  font-size: 1.1rem;
  color: #565656;
  text-align: center;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
}
h5 {
  color: #1b1b1b;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  img {
    height: 8rem;
    margin: 0 auto 2rem;
  }
  h6 {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #363636;
  }
}
.video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8rem;
  p {
    width: 3.5rem;
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
  }
  p,
  span {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    color: #393939;
  }
  span {
    display: inline-block;
    //margin: 0 15px;
  }
}
</style>