<template>
  <div class="news">
    <div class="img" :style="{ backgroundImage: 'url(./../../' + item.img + ')' }"></div>
    <div>
      <span class="category">{{item.category}}</span>
      <h5 class="white">{{item.title}}</h5>
      <p class="date">
        <span class="icon icon_data"></span>
        {{item.date}}
      </p>
      <a href="javascript:void(0);" class="btn-wrapper">
        <span class="btn btn_play">
          <svg width="22" height="25" viewBox="0 0 22 25" fill="none">
            <path
              d="M21.6582 12.191L0.945124 24.1497L0.945123 0.190544L21.6582 12.191Z"
              fill="white"
            />
          </svg>
        </span>
        <span>Play video</span>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object
  }
};
</script>
<style lang="scss" scoped>
.news {
  display: flex;
  background-color: #15224e;
  border-radius: 4px;
  .img {
    position: relative;
    min-width: 20rem;
    height: auto;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: "";
      background: linear-gradient(
        to top,
        rgba(79, 79, 79, 1),
        rgba(155, 155, 155, 0)
      );
      opacity: 0.6;
    }
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-position: center center;
    margin-right: 1rem;
    &_data {
      background-image: url("./../../assets/img/date-icon.svg");
    }
  }
}
</style>