<template>
  <div class="players">
    <div class="bg-line container"></div>
    <div class="slider-header container">
      <div>
        <h4 class="part-title white">Players</h4>
        <app-show-more :info="info" class="orange" :class="info.class"></app-show-more>
      </div>
      <div class="slider-navigation">
        <div class="swiper-pagination player-slider" slot="pagination"></div>
        <div class="slider-button">
          <div class="swiper-button-prev prev" slot="button-prev"></div>
          <div class="swiper-button-next next" slot="button-next"></div>
        </div>
      </div>
    </div>
    <div class="slider-overlay">
      <swiper :options="swiperOption" ref="mySwiper">
        <!-- slides -->
        <swiper-slide v-for="player in players" :key="player.id">
          <app-players-card :player="player"></app-players-card>
        </swiper-slide>
        <!-- Optional controls -->

        <div class="swiper-scrollbar" slot="scrollbar"></div>
      </swiper>
    </div>
  </div>
</template>
<script>
import "swiper/dist/css/swiper.css";
import Show_more from "./Show_more";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import PlayersCard from "./Players-card";
const url = "http://localhost:3000/players";
export default {
  data() {
    return {
      info: {
        url: "/players",
        text: "SHOW ALL PLAYERS",
        class: "rect"
      },
      swiperOption: {
        speed: 800,
        slidesPerView: 3,
        spaceBetween: 30,
        slideActiveClass: "active-slide",
        loop: true,
        pagination: {
          el: ".player-slider",
          clickable: true
        },
        navigation: {
          nextEl: ".next",
          prevEl: ".prev"
        }
      }
    };
  },
  computed: {
    players() {
      return this.$store.getters.players;
    },
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  methods: {
    setPlayers() {
      this.axios.get(url).then(response => {
        const payload = response.data;
        return this.$store.dispatch("setPlayers", payload);
      });
    }
  },
  mounted() {
    this.setPlayers();
    this.swiper.slideTo(0, 1000, false);
  },
  components: {
    swiper,
    swiperSlide,
    "app-show-more": Show_more,
    "app-players-card": PlayersCard
  }
};
</script>
<style lang="scss" scoped>
$blue: #15224e;
.players {
  position: relative;
  background-color: $blue;
  padding: 8rem 0 9.5rem;
  & > *:not(.bg-line) {
    position: relative;
    z-index: 2;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: calc((100vw - 117rem) / 2 + 117rem / 3);
    height: 100%;
    background: linear-gradient(
      270.1deg,
      #0a0736 0.08%,
      rgba(30, 27, 68, 0.864583) 51.53%,
      rgba(38, 34, 98, 0.03) 162.03%
    );
    opacity: 0.3;
    z-index: 1;
  }
  h4 {
    margin-bottom: 2rem;
  }
}
.slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4.5rem;
}
.slider-navigation {
  width: calc(117rem / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .swiper-pagination {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.slider-overlay {
  margin-left: calc((100vw - 117rem) / 2);
  min-height: 45rem;
  overflow: hidden;
}
.swiper-container {
  width: 147rem;
  margin-left: 0;
  overflow: visible;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 47rem !important;
  height: 47rem;
  margin-right: 3rem;
}
</style>