<template>
  <div class="player-block">
    <img :src="img" />
    <div class="content">
      <div class="info">
        <h5>
          {{player.number}}
          <span>{{player.name}}</span>
          {{player.secondName}}
        </h5>
        <h6>{{player.position}}</h6>
        <div>
          <h4>
            appearences
            <span>{{player.appearences}}</span>
          </h4>
          <h4>
            goals
            <span>{{player.goals}}</span>
          </h4>
          <h4>
            assists
            <span>{{player.assists}}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    player: Object
  },
  data() {
    return {
      img: this.player.img
    };
  }
};
</script>
<style lang="scss" scoped>
.player-block {
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/img/card-bg.png");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  padding: 3rem 1.75rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      359.76deg,
      #111116 12.71%,
      rgba(0, 0, 0, 0) 45.39%
    );
    z-index: 1;
  }
  img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}
.content {
  height: 100%;
  width: 100%;
  * {
    position: relative;
    z-index: 9;
  }
}
.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #fff;
  z-index: 9;
  overflow: hidden;
  &:hover {
    .info {
      top: 0;
    }
  }
  .info {
    top: 10rem;
    transition: all 0.3s ease-in-out;
    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      padding-top: 1.9rem;
      position: relative;
      height: 10rem;
      h4 {
        min-width: 9rem;
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: rgba(235, 239, 239, 0.1);
      }
    }
  }
  h5 {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.3rem;
    span {
      font-weight: 400;
    }
  }
  h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  h4 {
    color: #fbbb00;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    span {
      display: block;
      font-weight: 700;
      font-size: 2.6rem;
      color: #fff;
    }
  }
}
</style>