<template>
  <router-link class="show-more" :to="this.info.url" tag="div">
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" v-if="this.info.class == 'rect'">
      <path d="M0 0H5V5H0V0Z" fill="#283891" />
      <path d="M7 0H12V5H7V0Z" fill="#283891" />
      <path d="M0 7H5V12H0V7Z" fill="#283891" />
      <path d="M7 7H12V12H7V7Z" fill="#283891" />
    </svg>
    <svg
      width="12"
      height="13"
      viewBox="0 0 12 13"
      fill="none"
      v-else-if="this.info.class == 'line' "
    >
      <path d="M0 0H12V3H0V0Z" fill="#283891" />
      <path d="M0 5H12V8H0V5Z" fill="#283891" />
      <path d="M0 10H12V13H0V10Z" fill="#283891" />
    </svg>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" v-else>
      <path d="M0 0H12V3H0V0Z" fill="#283891" />
      <path d="M0 5H12V8H0V5Z" fill="#283891" />
      <path d="M0 10H8V13H0V10Z" fill="#283891" />
    </svg>
    <h6>{{this.info.text ? this.info.text : this.text}}</h6>
  </router-link>
</template>
<script>
export default {
  props: {
    info: Object
  },
  data() {
    return {
      text: "Show more"
    };
  }
};
</script>
<style lang="scss" scoped>
$blue: #283891;
$orange: #fbbb00;

.show-more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  svg {
    display: inline-block;
    width: 1.2rem;
    margin-right: 1rem;
  }
  &.blue {
    h6 {
      color: $blue;
    }
    svg {
      path {
        fill: $blue;
      }
    }
  }
  &.orange {
    h6 {
      color: $orange;
    }
    svg {
      path {
        fill: $orange;
      }
    }
  }

  &.line {
    span {
      height: 1.3rem;
    }
  }
}
</style>