<template>
  <div class="sponsors container">
    <h4 class="title">Sponsors</h4>
    <div>
      <div v-for="item in sponsors" :key="item.title">
        <img :src="item.src" :alt="item.title" />
        <a :href="item.url" target="_blank"></a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      sponsors: [
        { title: "Tavern on 7", src: "src/assets/img/tavernon7.png", url: "#" },
        { title: "Macron", src: "src/assets/img/macron.png", url: "#" },
        {
          title: "Cannondale generators",
          src: "src/assets/img/cannondale.png",
          url: "#"
        },
        {
          title: "AMEN",
          src: "src/assets/img/amen.png",
          url: "https://amen.team/"
        },
        { title: "GZS united", src: "src/assets/img/GZC.png", url: "#" }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.sponsors {
  padding: 9rem 0 10.5rem;
  .title {
    margin-bottom: 2.4rem;
  }
  & > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    div {
      position: relative;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    img {
      max-width: 16.2rem;
    }
  }
}
</style>