<template>
  <div class="standing">
    <h4 class="title">standings</h4>
    <app-show-more :info="info" class="blue" :class="info.class"></app-show-more>
    <app-table
      :columns="columns"
      :rows="getTeams"
      styleClass="vgt-table"
      :row-style-class="rowStyleClassFn"
    ></app-table>
  </div>
</template>
<script>
import Show_more from "./Show_more";
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";

export default {
  data() {
    return {
      info: {
        url: "/about",
        class: "line"
      },
      columns: [
        {
          label: "Position",
          field: "position",
          sortable: false
        },
        {
          label: "Team",
          field: "team",
          sortable: false
        },
        {
          label: "Points",
          field: "points",
          sortable: false
        }
      ]
    };
  },
  computed: {
    getTeams() {
      const teams = this.$store.getters.teams;
      this.sortPoints(teams);
      this.positionCheck(teams);
      return teams;
    }
  },
  methods: {
    rowStyleClassFn(row) {
      return row.active ? "active" : false;
    },
    sortPoints(arr) {
      arr.sort((a, b) => (a.points > b.points ? -1 : 1));
    },
    positionCheck(arr) {
      arr.forEach(function(el, index) {
        el.position = index + 1;
      });
    }
  },
  components: {
    "app-show-more": Show_more,
    "app-table": VueGoodTable
  }
};
</script>
<style lang="scss" scoped>
</style>