<template>
  <div>
    <div class="hero">
      <div class="slider-overlay">
        <slick ref="slick" :options="slickOptions" dir="rtl">
          <div
            v-for="item in slideInfo"
            :key="item.id"
            :style="{ backgroundImage: 'url(' + item.img + ')' }"
          >
            <div class="content container">
              <h2>{{item.title}}</h2>
            </div>
          </div>
        </slick>
      </div>
      <div class="main-news">
        <app-lates-news class="news-list horizontal home"></app-lates-news>
      </div>
    </div>

    <div class="col-2 container">
      <app-match-schedule></app-match-schedule>
      <app-standings></app-standings>
    </div>
    <div class="latest-news">
      <div class="bg-left"></div>
      <div class="bg-right"></div>
      <div class="container bg-line">
        <div>
          <h3 class="white">latest news</h3>
          <app-show-more :info="info" class="orange" :class="info.class"></app-show-more>
          <div class="content">
            <app-lates-news class="news-list vertical"></app-lates-news>
            <app-lates-news class="news-list alone"></app-lates-news>
          </div>
        </div>
      </div>
    </div>
    <!--<app-lates-news class="news-list horizontal home"></app-lates-news>-->
    <app-about-block></app-about-block>
    <app-players></app-players>
    <app-shop></app-shop>
    <app-sponsors></app-sponsors>
  </div>
</template>
<script>
import Slick from "vue-slick";

import Latest_news from "./Shared/List_news";
import AboutBlock from "./Shared/About";
import Shop from "./Shared/Shop";
import Sponsors from "./Shared/Sponsors";
import Players from "./Shared/Players";
import Match_schedule from "./Shared/Match_schedule";
import Standings from "./Shared/Standings";

import Show_more from "./Shared/Show_more";

export default {
  data() {
    return {
      info: {
        url: "/about",
        class: "rect"
      },
      slickOptions: {
        slidesToShow: 1,
        rtl: true,
        dots: true,
        arrows: false,
        speed: 1500,
        easing: "cubic-bezier(.6,0,.22,1)"
      },
      slideInfo: [
        {
          id: 1,
          img: "src/assets/img/main-slide-2.png",
          title: "bridgeport United fc"
        },
        {
          id: 2,
          img: "src/assets/img/main-slide-1.png",
          title: "bridgeport United fc"
        },
        {
          id: 3,
          img: "src/assets/img/main-slide-2.png",
          title: "bridgeport United fc"
        },
        {
          id: 4,
          img: "src/assets/img/main-slide-1.png",
          title: "bridgeport United fc"
        }
      ]
    };
  },
  components: {
    Slick,
    "app-show-more": Show_more,
    "app-match-schedule": Match_schedule,
    "app-standings": Standings,
    "app-lates-news": Latest_news,
    "app-about-block": AboutBlock,
    "app-shop": Shop,
    "app-sponsors": Sponsors,
    "app-players": Players
  }
};
</script>
<style lang="scss" scoped>
$orange: #fbbb00;
.slider-overlay {
  padding-left: calc((100vw - 117rem) / 2);
  height: 100%;
}
.hero {
  position: relative;
  height: calc(100vh - 8rem);
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 100%;
    padding-top: 15%;
    padding-left: 6.5rem;

    margin: 0 auto 0 0;
    & > * {
      position: relative;
      z-index: 2;
    }
    &:after {
      position: absolute;
      top: 0;
      left: calc(100% / 3);
      height: 100%;
      content: "";
      width: calc(100% / 3);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      z-index: 1;
    }
    h2 {
      position: relative;
      text-align: left;
      &:before {
        position: absolute;
        top: 0;
        left: -6.5rem;
        content: "";
        width: 3px;
        height: 100%;
        background: $orange;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
.hero {
  .main-news {
    width: 50%;
    max-width: 100rem;
    position: absolute;
    right: 7.5rem;
    bottom: 10rem;
  }
}
.latest-news {
  position: relative;
  background-color: #283891;

  height: 64rem;
  .show-more {
    margin-bottom: 5rem;
  }
  .news-list {
    width: 49%;
    & > .news {
      width: calc((100% - 3rem) / 2);
    }
  }

  .content {
    display: flex;
  }
  .container {
    position: relative;
    z-index: 2;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8.5rem 0 9.5rem;
    &::before,
    &:after {
      top: 0;
      z-index: 1;
    }
    & > div {
      position: relative;
      z-index: 2;
    }
  }
  .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100vw - 117rem) / 2 + 117rem / 3);
    height: 100%;
    background-image: url("./../../src/assets/img/latest-bg.png");
    background-size: cover;
    z-index: 1;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270.11deg,
        #0a0736 0.05%,
        rgba(30, 27, 68, 0.864583) 51.52%,
        rgba(38, 34, 98, 0.03) 162.05%
      );
      opacity: 0.9;
    }
  }
  .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - ((100vw - 117rem) / 2 + 117rem / 3));
    height: 100%;
    background-image: url("./../../src/assets/img/latest-bg-right.png");
    background-size: cover;
    z-index: 1;
  }
}
</style>