$orange: #FBBB00;
$textColor: #363636;
$textBlue: #283891;
$white: #FFFFFF;
$blue: #15224E;
$grey: #A8A8A8;
$Mont: 'Montserrat', sans-serif;

html {
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.75;
    color: $textColor;
    position: relative;
    box-sizing: border-box;
    background-color: #F9FAFF;
}
*::selection {
    color: #fff; /* Цвет текста */
    background: $orange; /* Цвет фона */
   }
.container{
    width: 117rem;
    margin: 0 calc((100vw - 117rem) /2 );
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
form {
    width: 100%;
    position: relative;
  }
form input:not([type='checkbox']),
form input:not([type='radio']),
form input:not([type='file']),
form select,
form textarea {
    -webkit-border-radius: 0;
  border-radius: 0;
}
form input:not([type='checkbox'])::-moz-placeholder,
form input:not([type='radio'])::-moz-placeholder,
form input:not([type='file'])::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox'])::-ms-input-placeholder,
form input:not([type='radio'])::-ms-input-placeholder,
form input:not([type='file'])::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox'])::-webkit-input-placeholder,
form input:not([type='radio'])::-webkit-input-placeholder,
form input:not([type='file'])::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox']):focus::-moz-placeholder,
form input:not([type='radio']):focus::-moz-placeholder,
form input:not([type='file']):focus::-moz-placeholder,
form select:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-ms-input-placeholder,
form input:not([type='radio']):focus::-ms-input-placeholder,
form input:not([type='file']):focus::-ms-input-placeholder,
form select:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-webkit-input-placeholder,
form input:not([type='radio']):focus::-webkit-input-placeholder,
form input:not([type='file']):focus::-webkit-input-placeholder,
form select:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']).error,
form input:not([type='radio']).error,
form input:not([type='file']).error,
form select.error,
form textarea.error {
  border-color: tomato;
}
form input[type='submit'] {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.btn{
    display: inline-block;
    min-width: 11rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 3.5rem;
    border: none;
    border-radius: 4px;
    background-color: $orange;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: $blue;
        color: #fff;
    }
    &_icon{
        padding: 0 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        svg{
            width: 1.3rem;
            height: 1.5rem;
            margin-right: 7px;
        }
    }
    &_big{
        height: 7rem;
        line-height: 7rem;
        font-size: 1.8rem;
    }
    &_play{
        min-width: 7rem;
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        svg {
            width: 2.8rem;
            height: 2.5rem;
            padding-left: 0.6rem;
            path{
            transition: all .3s ease-in-out;
            }
        }

    }
}
.btn-wrapper{
    &:hover{
        .btn{
            background-color: #fff;
            border-color: $orange;
            &_play{
                svg path{
                    fill: $orange;
                }
            }
        }
    }
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none;
  outline: none;
}

h1{}
h2{
    max-width: 50rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 9rem;
    text-transform: uppercase;
    color: #fff;
}
h3{
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    &.white{
        color: $white;
    }
}
h4{
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 700;
    &.title{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &.part-title{
        font-size: 3rem;
        line-height: 5.5rem;
        text-transform: uppercase;
    }
    &.white{
        color: $white;
    }
}
h5{
    font-size: 2rem;
    line-height: 3rem;
    &.title{
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
    }
    &.white{
        color: $white;
    }
}
h6{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    &.blue{
        color: $textBlue;
    }
    &.orange{
        color: $orange;
    }

}
p{
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 500;
}

.news-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .news{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .btn-wrapper{
            display: none;
        }
        .date{
            font-size: 1.2rem;
            line-height: 2.5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center;
            span{
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    &.horizontal{
        .news{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
                    &:first-of-type{
                        margin-right: 3rem;
                    }
                    .category{
                        margin-bottom: 7px;
                        display: block;
                    }
                    h5{
                        margin-bottom: 1rem;
                    }
        }
    }
    &.vertical{
        .news{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            background: transparent;
            .img{
                width: 27rem;
                height: 20.5rem;
                border-radius: 4px;
                margin-bottom: 3rem;
                &:after{
                    display: none;
                }
            }
            .category{
                display: none;
            }
            h5{
                min-height: 5rem;
                margin-bottom: 2rem;
            }
            .date{
                color: #A8A8A8;
            }
        }
    }
    &.alone{
        .news{
            background: transparent;
            width: 100%;
            justify-content: flex-end;
            padding-right: 5rem;
            .btn-wrapper{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                margin-top: 4rem;
                span{
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                    &.btn_play{
                        margin-right: 2.3rem;
                    }
                }
                &:hover{
                    span{
                        color: $orange;
                    }
                }
            }
            .date, .category{
                display: block;
                color: #A8A8A8;
                font-size: 1.2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
            .category{
                visibility: hidden;
            }
            .date{
                position: absolute;
                top: 0;
            }
            div{
                position: relative;
                max-width: 42rem;
            }
            &:last-of-type{
                display: none;
                
            }
            .img{
                display: none;
            }
            h5{
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 5rem;
            }
        }
    }
    &.home{
        .news{
            &:last-of-type{
                background-color: #fff;
                h5{
                    color: #363636;
                }
            }
            h5{
                font-weight: 700;
            }
            .category, .date{
                font-size: 1.4rem;
                font-weight: 400;
                color: $grey;
            }
            &>div:last-of-type{
                padding: 2rem 1.3rem 1.7rem 3rem;
            }
        }
    }
}
.bg-line {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    &:after, &:before {
      position: absolute;
      height: 100%;
      width: calc(100% / 3);
      content: "";
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    &:before{
        left: calc(100% / 3);
    }
  }

.hero{
    .slick-slide {
        position: relative;
        & > div{
            & > div{
                //position: relative;
                &:after{
                    position: absolute;
                    top: 0;
                    right: calc((100vw - 117rem) / 2);
                    height: 100%;
                    width: calc((100vw - 117rem) / 1.7);
                    content: "";
                    background: linear-gradient(293.94deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
                    opacity: 0.7;
                }
            }
        }
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100vw - 117rem);
            content: "";
            background: linear-gradient(309.27deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            opacity: 0.7;
            transform: rotate(-180deg);
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: calc((100vw - 117rem) / 2);
          content: "";
          background: linear-gradient(290.35deg, #0a0736 0.31%, rgba(30, 27, 68, 0.864583) 31.83%, rgba(38, 34, 98, 0.03) 120.52%);
          opacity: 0.9;
        }
      }
}

.slick-dots{
    transform: scale(-1,-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 6.5rem;
    bottom: 15%;
    z-index: 3;
}
.swiper-pagination-bullet{
    width: 3rem;
    height: 2px;
    background: #fff;
    opacity: 1;
    border-radius: 0;
    margin: 0 5px;
    
    &:first-of-type{
        margin: 0 5px 0 0;
    }
    &.swiper-pagination-bullet-active{
        background-color: $orange;
    }
}
.slick-dots li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 5px;
    &:first-of-type{
        margin: 0 0 0 5px;
    }
    &::before{
        display: none;
    }

    button{
        width: 3rem;
        height: 2px;
        background-color: #fff;
        border-radius: 0;
        font-size: 0;
    }
    &.slick-active{
        button{
            background-color: $orange;
        }
    }
}
.slider-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.swiper-button-prev, .swiper-button-next{
    position: initial;
    width: 2.6rem;
    height: 1.4rem;
    background-image: url(./img/arrow.svg);
    background-size: cover;
    background-position: center;
    margin: 0;
    opacity: 1;
    &.swiper-button-disabled{
        opacity: 1;
    }
    &:after, &:before{
        display: none;
    }

}
.swiper-button-prev{
    margin-right: 2rem;
}
.swiper-button-next{
    transform: rotate(-180deg);
}

/*match / standing*/
.col-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8rem 0 10rem;
    .show-more{
        margin-bottom: 5rem;
    }
}
.standing {
    width: 31.5%;
    .vgt-responsive{
        border-bottom: 3px solid #283891;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    table.vgt-table{
        border: none;
        background: #EFF1F8;
        padding-bottom: 3px;
    }
    .vgt-table thead {
        border-radius: 2px;
        overflow: hidden;
    }
    .vgt-table thead th {
      background: #283891;
      min-height: 3rem;
      border: none;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 600;
      padding: 1rem 1rem 1rem 1.5rem;
      &:first-of-type{
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
      }
      &:last-of-type{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        }
    }
    .vgt-table tbody tr:last-child:nth-child(2n+1){
        border-bottom: 3px solid #EFF1F8;
    }
    .vgt-table tbody tr:last-child:nth-child(2n){
        border-bottom: 3px solid #fff;
    }
    .vgt-table tbody tr:nth-of-type(odd){
        background: #fff;
    }
    .vgt-table tbody tr:nth-of-type(even){
        background: #EFF1F8;
    }
    table.vgt-table tr.active td{
        font-weight: 700;
    }
    table.vgt-table td{
        border: none;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 4rem;
        color: #363636;
        padding: 0;
        &:nth-child(2){
            text-align: left;
        }
    }
  }

.match-block {
    display: flex;
    & > div {
        &:first-of-type {
        padding: 0 3rem 0 1.5rem;
        .table div:last-of-type {
            position: relative;
            &:after {
            position: absolute;
            top: 0;
            right: -3rem;
            height: 8rem;
            width: 2px;
            background: #ECECEC;
            content: "";
            }
        }
        }
        &:last-of-type {
        padding: 0 1.5rem 0 3rem;
        }
    }
}
.slick-slider, .slick-track{
    height: 100%;
}
.slick-list {
    overflow: visible;
    height: 100%;
}
.slick-slide{
    position: relative;
    /*&:after{
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100vw - 117rem) / 2);
        height: 100%;
        content: '';
        background: linear-gradient(270.35deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 31.83%, rgba(38, 34, 98, 0.03) 99.52%);
        opacity: 0.9;
        transition: all .3s ease-in-out;
    }*/
    /*&:before{
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100vw - 117rem) / 2);
        height: 100%;
        content: '';
        background: linear-gradient(270.34deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 31.83%, rgba(38, 34, 98, 0.03) 99.52%);
        opacity: 0.9;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        transition: all .3s ease-in-out;
    }*/
    .content{
        position: relative;
        //background: linear-gradient(129.27deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
        //opacity: 0.7;
        /*&:before{
            position: absolute;
            top: 0;
            right: 0;
            width: calc((100vw - 117rem) / 2);
            height: 100%;
            content: '';
            background: linear-gradient(293.94deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            opacity: 0.7;
        }*/
    }
    &.slick-active{
        .content{
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        /*&:after{
            opacity: 0;
        }
        &:before{
            opacity: 0.5;
        }*/
    }
    & > div, & > div > div{
        height: 100%;
    }
    & > div > div{
        background-size: cover;
    }
}