<template>
  <div id="app">
    <app-header :links="links" />
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from "./components/Shared/Header";
import Footer from "./components/Shared/Footer";

export default {
  name: "app",
  data() {
    return {};
  },
  computed: {
    links() {
      /*if (this.isUserLoggedIn) {
        return [
          { title: "Home", url: "/" },
          { title: "Tickets", url: "/tickets" },
          { title: "Comments", url: "/comments" }
        ];
      }
      return [
        { title: "Login", url: "/login" },
        { title: "Registration", url: "/registration" }
      ];
      */
      return [
        {
          title: "Season",
          url: "/",
          class: "sub-menu",
          subMenu: [
            { title: "Season 1", url: "/" },
            { title: "Season 2", url: "/" }
          ]
        },
        {
          title: "TEAM",
          url: "/",
          class: "sub-menu",
          subMenu: [
            { title: "Team 1", url: "/" },
            { title: "Team 2", url: "/" }
          ]
        },
        { title: "About", url: "/" },
        { title: "SPONSORS", url: "/" }
      ];
    }
  },
  components: {
    "app-header": Header,
    "app-footer": Footer
  }
};
</script>

<style lang="scss">
</style>
